/*
java -jar /usr/local/yuicompressor/build/yuicompressor-2.4.7.jar /Users/julienzmiro/Sites/tickkkets/tickkkets.com/public/css/style-m.css -o /Users/julienzmiro/Sites/tickkkets/tickkkets.com/public/css/style-m-min.css --charset utf-8
java -jar /usr/local/yuicompressor/build/yuicompressor-2.4.7.jar /Users/julienzmiro/Sites/tickkkets/tickkkets.comv2/public/css/style-m.css -o /Users/julienzmiro/Sites/tickkkets/tickkkets.comv2/public/css/style-m-min.css --charset utf-8
*/

body > section {
	margin: 2% auto 0;
	width: 50%;
}
ul li {
	margin: 3% 0;
	padding: 3%;
}
li div header p {
	width: 30%;
}
li img {
	margin-right: 1%;
}
li div {
	width: 78%;
}
body > footer {
	width: 52%;
}
li div > footer a {
	visibility: visible;
}